In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ls

CO2ppm.csv                    challenge7_4.py
GlobalSurfaceTemperature.csv  未命名.ipynb
GreenhouseGas.csv

In [3]:
df_temperature = pd.read_csv('GlobalSurfaceTemperature.csv')
df_co2 = pd.read_csv('CO2ppm.csv')
df_gas = pd.read_csv('GreenhouseGas.csv')

In [4]:
df_temperature = df_temperature.set_index('Year')

In [25]:
df_temperature

      Median  Upper  Lower
Year
1850  -0.373 -0.339 -0.425
1851  -0.218 -0.184 -0.274
1852  -0.228 -0.196 -0.280
1853  -0.269 -0.239 -0.321
1854  -0.248 -0.218 -0.301
1855  -0.272 -0.241 -0.324
1856  -0.358 -0.327 -0.413
1857  -0.461 -0.431 -0.512
1858  -0.467 -0.435 -0.521
1859  -0.284 -0.249 -0.340
1860  -0.343 -0.310 -0.405
1861  -0.407 -0.356 -0.484
1862  -0.524 -0.471 -0.597
1863  -0.278 -0.226 -0.359
1864  -0.494 -0.448 -0.564
1865  -0.279 -0.232 -0.358
1866  -0.251 -0.197 -0.338
1867  -0.321 -0.265 -0.406
1868  -0.238 -0.185 -0.326
1869  -0.262 -0.221 -0.333
1870  -0.276 -0.239 -0.340
1871  -0.335 -0.293 -0.404
1872  -0.227 -0.187 -0.290
1873  -0.304 -0.258 -0.364
1874  -0.368 -0.325 -0.435
1875  -0.395 -0.352 -0.464
1876  -0.384 -0.335 -0.453
1877  -0.075 -0.026 -0.146
1878   0.035  0.084 -0.026
1879  -0.230 -0.189 -0.291
...      ...    ...    ...
1988   0.198  0.221  0.175
1989   0.118  0.147  0.091
1990   0.296  0.330  0.267
1991   0.254  0.289  0.220
1992   0.105  0.139  0.071
1993   0.148  0.186  0.112
1994   0.208  0.247  0.174
1995   0.325  0.361  0.289
1996   0.183  0.217  0.146
1997   0.390  0.425  0.356
1998   0.539  0.578  0.500
1999   0.306  0.343  0.265
2000   0.294  0.338  0.259
2001   0.441  0.483  0.406
2002   0.496  0.538  0.463
2003   0.505  0.546  0.473
2004   0.447  0.483  0.413
2005   0.545  0.583  0.507
2006   0.506  0.544  0.468
2007   0.491  0.531  0.457
2008   0.395  0.432  0.355
2009   0.506  0.546  0.465
2010   0.560  0.603  0.523
2011     NaN    NaN    NaN
2012     NaN    NaN    NaN
2013     NaN    NaN    NaN
2014     NaN    NaN    NaN
2015     NaN    NaN    NaN
2016     NaN    NaN    NaN
2017     NaN    NaN    NaN

[168 rows x 3 columns]

In [6]:
df_gas.index = df_gas.Year

In [7]:
df_gas_drop = df_gas.drop(columns=['Year','N2O','CH4'])

In [38]:
df_gas_drop.loc['2014'] = np.NaN
df_gas_drop.loc['2015'] = np.NaN
df_gas_drop.loc['2016'] = np.NaN
df_gas_drop.loc['2017'] = np.NaN

In [41]:
df_gas2 = df_gas_drop.interpolate()

In [42]:
df_gas2

              CO2
Year
1960   9385792.84
1961   9419463.24
1962   9808656.62
1963  10347089.60
1964  10939720.80
1965  11426753.40
1966  11993620.20
1967  12378853.20
1968  13011678.40
1969  13792038.00
1970  14789733.40
1971  15350300.40
1972  15952667.40
1973  16834514.90
1974  16952269.60
1975  16853249.60
1976  17835998.30
1977  18393371.30
1978  18606020.60
1979  19643807.30
1980  19438422.30
1981  18840587.60
1982  18679192.00
1983  18609452.90
1984  19280447.90
1985  19863328.60
1986  20471999.30
1987  20992676.60
1988  21766336.60
1989  22242859.60
1990  22352939.20
1991  22627491.20
1992  22403367.80
1993  22381538.20
1994  22760830.60
1995  23258105.20
1996  23796153.10
1997  24155273.40
1998  24095857.00
1999  24051853.00
2000  24667909.00
2001  25250962.00
2002  25470982.00
2003  27014789.00
2004  28364245.00
2005  29427675.00
2006  30461769.00
2007  31125496.00
2008  32042246.00
2009  31686547.00
2010  33505379.00
2011  34865836.00
2012  35463557.00
2013  35848592.00
2014  35848592.00
2015  35848592.00
2016  35848592.00
2017  35848592.00

In [11]:
df_co2 = df_co2.set_index('Year')

In [12]:
df_co2.loc['2017'] = np.NaN

In [13]:
df_co2 = df_co2.interpolate()

In [14]:
df_co2

      CO2 concentrations (NOAA (2017)) (parts per million)
Year
1980                                             338.80
1981                                             339.99
1982                                             340.76
1983                                             342.44
1984                                             343.98
1985                                             345.46
1986                                             346.88
1987                                             348.61
1988                                             351.14
1989                                             352.79
1990                                             353.96
1991                                             355.29
1992                                             355.99
1993                                             356.71
1994                                             358.20
1995                                             360.03
1996                                             361.79
1997                                             362.90
1998                                             365.55
1999                                             367.63
2000                                             368.81
2001                                             370.40
2002                                             372.42
2003                                             374.96
2004                                             376.78
2005                                             378.81
2006                                             380.93
2007                                             382.67
2008                                             384.78
2009                                             386.28
2010                                             388.56
2011                                             390.44
2012                                             392.45
2013                                             395.19
2014                                             397.11
2015                                             399.41
2016                                             402.87
2017                                             402.87

In [43]:
df_gas2

              CO2
Year
1960   9385792.84
1961   9419463.24
1962   9808656.62
1963  10347089.60
1964  10939720.80
1965  11426753.40
1966  11993620.20
1967  12378853.20
1968  13011678.40
1969  13792038.00
1970  14789733.40
1971  15350300.40
1972  15952667.40
1973  16834514.90
1974  16952269.60
1975  16853249.60
1976  17835998.30
1977  18393371.30
1978  18606020.60
1979  19643807.30
1980  19438422.30
1981  18840587.60
1982  18679192.00
1983  18609452.90
1984  19280447.90
1985  19863328.60
1986  20471999.30
1987  20992676.60
1988  21766336.60
1989  22242859.60
1990  22352939.20
1991  22627491.20
1992  22403367.80
1993  22381538.20
1994  22760830.60
1995  23258105.20
1996  23796153.10
1997  24155273.40
1998  24095857.00
1999  24051853.00
2000  24667909.00
2001  25250962.00
2002  25470982.00
2003  27014789.00
2004  28364245.00
2005  29427675.00
2006  30461769.00
2007  31125496.00
2008  32042246.00
2009  31686547.00
2010  33505379.00
2011  34865836.00
2012  35463557.00
2013  35848592.00
2014  35848592.00
2015  35848592.00
2016  35848592.00
2017  35848592.00

In [44]:
df1 = pd.concat([df_co2,df_gas2],axis=1,join_axes=[df_co2.index])

In [49]:
df1 = df1.interpolate()

In [133]:
df1

      CO2 concentrations (NOAA (2017)) (parts per million)         CO2
Year
1980                                             338.80     19438422.3
1981                                             339.99     18840587.6
1982                                             340.76     18679192.0
1983                                             342.44     18609452.9
1984                                             343.98     19280447.9
1985                                             345.46     19863328.6
1986                                             346.88     20471999.3
1987                                             348.61     20992676.6
1988                                             351.14     21766336.6
1989                                             352.79     22242859.6
1990                                             353.96     22352939.2
1991                                             355.29     22627491.2
1992                                             355.99     22403367.8
1993                                             356.71     22381538.2
1994                                             358.20     22760830.6
1995                                             360.03     23258105.2
1996                                             361.79     23796153.1
1997                                             362.90     24155273.4
1998                                             365.55     24095857.0
1999                                             367.63     24051853.0
2000                                             368.81     24667909.0
2001                                             370.40     25250962.0
2002                                             372.42     25470982.0
2003                                             374.96     27014789.0
2004                                             376.78     28364245.0
2005                                             378.81     29427675.0
2006                                             380.93     30461769.0
2007                                             382.67     31125496.0
2008                                             384.78     32042246.0
2009                                             386.28     31686547.0
2010                                             388.56     33505379.0
2011                                             390.44     34865836.0
2012                                             392.45     35463557.0
2013                                             395.19     35848592.0
2014                                             397.11     35848592.0
2015                                             399.41     35848592.0
2016                                             402.87     35848592.0
2017                                             402.87     35848592.0

In [17]:
df_temperature

      Median  Upper  Lower
Year
1850  -0.373 -0.339 -0.425
1851  -0.218 -0.184 -0.274
1852  -0.228 -0.196 -0.280
1853  -0.269 -0.239 -0.321
1854  -0.248 -0.218 -0.301
1855  -0.272 -0.241 -0.324
1856  -0.358 -0.327 -0.413
1857  -0.461 -0.431 -0.512
1858  -0.467 -0.435 -0.521
1859  -0.284 -0.249 -0.340
1860  -0.343 -0.310 -0.405
1861  -0.407 -0.356 -0.484
1862  -0.524 -0.471 -0.597
1863  -0.278 -0.226 -0.359
1864  -0.494 -0.448 -0.564
1865  -0.279 -0.232 -0.358
1866  -0.251 -0.197 -0.338
1867  -0.321 -0.265 -0.406
1868  -0.238 -0.185 -0.326
1869  -0.262 -0.221 -0.333
1870  -0.276 -0.239 -0.340
1871  -0.335 -0.293 -0.404
1872  -0.227 -0.187 -0.290
1873  -0.304 -0.258 -0.364
1874  -0.368 -0.325 -0.435
1875  -0.395 -0.352 -0.464
1876  -0.384 -0.335 -0.453
1877  -0.075 -0.026 -0.146
1878   0.035  0.084 -0.026
1879  -0.230 -0.189 -0.291
...      ...    ...    ...
1988   0.198  0.221  0.175
1989   0.118  0.147  0.091
1990   0.296  0.330  0.267
1991   0.254  0.289  0.220
1992   0.105  0.139  0.071
1993   0.148  0.186  0.112
1994   0.208  0.247  0.174
1995   0.325  0.361  0.289
1996   0.183  0.217  0.146
1997   0.390  0.425  0.356
1998   0.539  0.578  0.500
1999   0.306  0.343  0.265
2000   0.294  0.338  0.259
2001   0.441  0.483  0.406
2002   0.496  0.538  0.463
2003   0.505  0.546  0.473
2004   0.447  0.483  0.413
2005   0.545  0.583  0.507
2006   0.506  0.544  0.468
2007   0.491  0.531  0.457
2008   0.395  0.432  0.355
2009   0.506  0.546  0.465
2010   0.560  0.603  0.523
2011     NaN    NaN    NaN
2012     NaN    NaN    NaN
2013     NaN    NaN    NaN
2014     NaN    NaN    NaN
2015     NaN    NaN    NaN
2016     NaN    NaN    NaN
2017     NaN    NaN    NaN

[168 rows x 3 columns]

In [63]:
df2 = pd.concat([df1,df_temperature],axis=1,join_axes=[df1.index])

In [116]:
df2

,CO2 concentrations (NOAA (2017)) (parts per million),CO2,Median,Upper,Lower
Year,,,,,
1980,338.80,19438422.3,0.092,0.107,0.077
1981,339.99,18840587.6,0.140,0.153,0.125
1982,340.76,18679192.0,0.011,0.030,-0.011
1983,342.44,18609452.9,0.194,0.211,0.174
1984,343.98,19280447.9,-0.014,0.006,-0.033
1985,345.46,19863328.6,-0.030,-0.013,-0.048
1986,346.88,20471999.3,0.045,0.067,0.024
1987,348.61,20992676.6,0.192,0.220,0.171
1988,351.14,21766336.6,0.198,0.221,0.175
1989,352.79,22242859.6,0.118,0.147,0.091
1990,353.96,22352939.2,0.296,0.330,0.267
1991,355.29,22627491.2,0.254,0.289,0.220
1992,355.99,22403367.8,0.105,0.139,0.071
1993,356.71,22381538.2,0.148,0.186,0.112
1994,358.20,22760830.6,0.208,0.247,0.174
1995,360.03,23258105.2,0.325,0.361,0.289
1996,361.79,23796153.1,0.183,0.217,0.146
1997,362.90,24155273.4,0.390,0.425,0.356
1998,365.55,24095857.0,0.539,0.578,0.500
1999,367.63,24051853.0,0.306,0.343,0.265
2000,368.81,24667909.0,0.294,0.338,0.259
2001,370.40,25250962.0,0.441,0.483,0.406
2002,372.42,25470982.0,0.496,0.538,0.463
2003,374.96,27014789.0,0.505,0.546,0.473
2004,376.78,28364245.0,0.447,0.483,0.413
2005,378.81,29427675.0,0.545,0.583,0.507
2006,380.93,30461769.0,0.506,0.544,0.468
2007,382.67,31125496.0,0.491,0.531,0.457
2008,384.78,32042246.0,0.395,0.432,0.355
2009,386.28,31686547.0,0.506,0.546,0.465
2010,388.56,33505379.0,0.560,0.603,0.523
2011,390.44,34865836.0,NaN,NaN,NaN
2012,392.45,35463557.0,NaN,NaN,NaN
2013,395.19,35848592.0,NaN,NaN,NaN
2014,397.11,35848592.0,NaN,NaN,NaN
2015,399.41,35848592.0,NaN,NaN,NaN
2016,402.87,35848592.0,NaN,NaN,NaN
2017,402.87,35848592.0,NaN,NaN,NaN

In [108]:
df3 = df2.iloc[31:,:]

In [109]:
df3

,CO2 concentrations (NOAA (2017)) (parts per million),CO2,Median,Upper,Lower
Year,,,,,
2011,390.44,34865836.0,NaN,NaN,NaN
2012,392.45,35463557.0,NaN,NaN,NaN
2013,395.19,35848592.0,NaN,NaN,NaN
2014,397.11,35848592.0,NaN,NaN,NaN
2015,399.41,35848592.0,NaN,NaN,NaN
2016,402.87,35848592.0,NaN,NaN,NaN
2017,402.87,35848592.0,NaN,NaN,NaN

In [117]:
df

,CO2 concentrations (NOAA (2017)) (parts per million),CO2,Median,Upper,Lower
Year,,,,,
1980,338.80,19438422.3,0.092,0.107,0.077
1981,339.99,18840587.6,0.140,0.153,0.125
1982,340.76,18679192.0,0.011,0.030,-0.011
1983,342.44,18609452.9,0.194,0.211,0.174
1984,343.98,19280447.9,-0.014,0.006,-0.033
1985,345.46,19863328.6,-0.030,-0.013,-0.048
1986,346.88,20471999.3,0.045,0.067,0.024
1987,348.61,20992676.6,0.192,0.220,0.171
1988,351.14,21766336.6,0.198,0.221,0.175
1989,352.79,22242859.6,0.118,0.147,0.091
1990,353.96,22352939.2,0.296,0.330,0.267
1991,355.29,22627491.2,0.254,0.289,0.220
1992,355.99,22403367.8,0.105,0.139,0.071
1993,356.71,22381538.2,0.148,0.186,0.112
1994,358.20,22760830.6,0.208,0.247,0.174
1995,360.03,23258105.2,0.325,0.361,0.289
1996,361.79,23796153.1,0.183,0.217,0.146
1997,362.90,24155273.4,0.390,0.425,0.356
1998,365.55,24095857.0,0.539,0.578,0.500
1999,367.63,24051853.0,0.306,0.343,0.265
2000,368.81,24667909.0,0.294,0.338,0.259
2001,370.40,25250962.0,0.441,0.483,0.406
2002,372.42,25470982.0,0.496,0.538,0.463
2003,374.96,27014789.0,0.505,0.546,0.473
2004,376.78,28364245.0,0.447,0.483,0.413
2005,378.81,29427675.0,0.545,0.583,0.507
2006,380.93,30461769.0,0.506,0.544,0.468
2007,382.67,31125496.0,0.491,0.531,0.457
2008,384.78,32042246.0,0.395,0.432,0.355
2009,386.28,31686547.0,0.506,0.546,0.465
2010,388.56,33505379.0,0.560,0.603,0.523

In [94]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [95]:
feature = df[['CO2 concentrations (NOAA (2017)) (parts per million)','CO2']]

In [120]:
feature

      CO2 concentrations (NOAA (2017)) (parts per million)         CO2
Year
1980                                             338.80     19438422.3
1981                                             339.99     18840587.6
1982                                             340.76     18679192.0
1983                                             342.44     18609452.9
1984                                             343.98     19280447.9
1985                                             345.46     19863328.6
1986                                             346.88     20471999.3
1987                                             348.61     20992676.6
1988                                             351.14     21766336.6
1989                                             352.79     22242859.6
1990                                             353.96     22352939.2
1991                                             355.29     22627491.2
1992                                             355.99     22403367.8
1993                                             356.71     22381538.2
1994                                             358.20     22760830.6
1995                                             360.03     23258105.2
1996                                             361.79     23796153.1
1997                                             362.90     24155273.4
1998                                             365.55     24095857.0
1999                                             367.63     24051853.0
2000                                             368.81     24667909.0
2001                                             370.40     25250962.0
2002                                             372.42     25470982.0
2003                                             374.96     27014789.0
2004                                             376.78     28364245.0
2005                                             378.81     29427675.0
2006                                             380.93     30461769.0
2007                                             382.67     31125496.0
2008                                             384.78     32042246.0
2009                                             386.28     31686547.0
2010                                             388.56     33505379.0

In [96]:
train_feature,test_feature,train_target,test_target = 
train_test_split(feature,target,test_size=0.33,random_state=56)

In [97]:
model = LinearRegression()
model.fit(train_feature,train_target)
results = model.predict(test_feature)
errors = mean_absolute_error(test_target,results)

In [111]:
df3

,CO2 concentrations (NOAA (2017)) (parts per million),CO2,Median,Upper,Lower
Year,,,,,
2011,390.44,34865836.0,NaN,NaN,NaN
2012,392.45,35463557.0,NaN,NaN,NaN
2013,395.19,35848592.0,NaN,NaN,NaN
2014,397.11,35848592.0,NaN,NaN,NaN
2015,399.41,35848592.0,NaN,NaN,NaN
2016,402.87,35848592.0,NaN,NaN,NaN
2017,402.87,35848592.0,NaN,NaN,NaN

In [113]:
model.predict([[df3['CO2 concentrations (NOAA (2017)) (parts per million)'],df3.CO2]])

ValueError: Found array with dim 3. Estimator expected <= 2.

In [103]:
model.predict([[390.44,34865836.0]])

array([[0.53118086, 0.56667   , 0.49281382]])

In [104]:
model.predict([[392.45,35463557.0]])

array([[0.55411163, 0.59041855, 0.51494035]])

In [105]:
model.predict([[395.19,35848592.0]])

array([[0.59820459, 0.63737473, 0.55710249]])

In [107]:
model.predict([[397.11,35848592.0]])
model.predict([[399.41,35848592.0]])
model.predict([[402.87,35848592.0]])
model.predict([[402.87,35848592.0]])

array([[0.75402226, 0.80560835, 0.70541266]])

In [128]:
df = pd.DataFrame(np.random.rand(12).reshape(3,4),index=list('abc'),columns=list('ABCD'))

In [132]:
df['a':'b']

          A         B        C         D
a  0.668843  0.125937  0.74553  0.494981
b  0.238559  0.398696  0.13299  0.679640